body{
    background-color: #ffffff;
}
* {
    font-family: "Cousine", monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}